<template>
    <entity-list :data="passedData" :entities="hookas" :get-entities="getHookas" :add-entity="addHookah" :delete-entity="deleteHookah" :update-entity="updateHookah" />
</template>

<script>
import { mapState, mapActions } from "vuex";
import EntityList from "../components/EntityList";

export default {
  components: {
    "entity-list": EntityList
  },
  data() {
    return {
      passedData: {
        entityName: "hookah",
        entitiesName: "hookas",
        waitNames: {
          fetching: "hookas fetching",
          delete: "hookah deleting",
          update: "hookah updating",
          create: "hookah creating"
        },
        messages: {
          create: {
            success: "Кальян успешно добавлен.",
            fail: "Произошла ошибка при добавлении кальяна."
          },
          delete: {
            success: "Кальян успешно удален.",
            fail: "Произошла ошибка при удалении кальяна."
          },
          update: {
            success: "Кальян успешно обновлен.",
            fail: "Произошла ошибка при обновлении кальяна."
          }
        },
        labels: {
          entityName: "кальян",
          entityNameCapitalized: "Кальян",
          entitiesName: "кальяны",
          entitiesNameCapitalized: "Кальяны",
          entityNameInChange: "кальяна",
          entityNameInDelete: "кальян",
          entityNameInCreate: "кальян"
        }
      }
    };
  },
  methods: {
    ...mapActions(["getHookas", "addHookah", "deleteHookah", "updateHookah"])
  },
  computed: {
    ...mapState(["hookas"])
  }
};
</script>
