<template>
  <div v-if="user">
      <img :src="user.photoURL" alt="avatar" style="width: 30px; height: 30px; border-radius: 50%;">
  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  name: "Index",
  data() {
    return {
    }
  },
  computed: {
    ...mapState(["user"])
  }
}
</script>
