<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4 lg3>
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Авторизация</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-title primary-title>
          <v-btn @click="_signInWithGoogle" block :loading="$wait.is('signing in')" color="primary darken-1">
            <google-icon mr-2/>Войти через Google</v-btn>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { CirclesToRhombusesSpinner } from "epic-spinners";
import GoogleIcon from "../components/GoogleIcon";
import logger from "../logger";
import notify from "../notify";

export default {
  name: "Login",
  components: {
    "circles-spinner": CirclesToRhombusesSpinner,
    GoogleIcon
  },
  data() {
    return {};
  },
  methods: {
    redirectAuthenticatedUser() {
      if (this.isAuthenticated) {
        const redirect = this.$route.query.redirect;
        if (redirect) {
          this.$router.push(redirect);
        } else {
          this.$router.push({ name: "index" });
        }
      }
    },
    _signInWithGoogle() {
      this.$wait.start("signing in");
      this.signInWithGoogle()
        .then(() => {
          this.$wait.end("signing in");
          notify.success("auth", "Вход прошел успешно!");
          this.redirectAuthenticatedUser();
        })
        .catch(error => {
          logger.log(error);
          notify.error("auth", "Произошла ошибка при входе!");
          this.$wait.end("signing in");
        });
    },
    ...mapActions(["signInWithGoogle"])
  },
  mounted() {
    this.redirectAuthenticatedUser();
  },
  computed: {
    ...mapGetters(["isAuthenticated"])
  }
};
</script>

<style scoped>
.google-icon {
  margin-right: 10px;
}
</style>