<template>
    <entity-list :data="passedData" :entities="news" :get-entities="getNews" :add-entity="addNews" :delete-entity="deleteNews" :update-entity="updateNews" />
</template>

<script>
import { mapState, mapActions } from "vuex";
import EntityList from "../components/EntityList";

export default {
  components: {
    "entity-list": EntityList
  },
  data() {
    return {
      passedData: {
        entityName: "news",
        entitiesName: "news",
        waitNames: {
          fetching: "news fetching",
          delete: "news deleting",
          update: "news updating",
          create: "news creating"
        },
        messages: {
          create: {
            success: "Новость успешно добавлена.",
            fail: "Произошла ошибка при добавлении новости."
          },
          delete: {
            success: "Новость успешно удалена.",
            fail: "Произошла ошибка при удалении новости."
          },
          update: {
            success: "Новость успешно обновлена.",
            fail: "Произошла ошибка при обновлении новости."
          }
        },
        labels: {
          entityName: "новость",
          entityNameCapitalized: "Табак",
          entitiesName: "новости",
          entitiesNameCapitalized: "Новости",
          entityNameInChange: "новости",
          entityNameInDelete: "новость",
          entityNameInCreate: "новость"
        }
      }
    };
  },
  methods: {
    ...mapActions([
      "getNews",
      "addNews",
      "deleteNews",
      "updateNews"
    ])
  },
  computed: {
    ...mapState(["news"])
  }
};
</script>
