<template>
    <div>
      <p>Not Found</p>
    </div>
</template>

<script>
export default {
  name: 'NotFound',
  data() {
    return {
      // items: [],
      // item: '',
    }
  },
}
</script>
