<template>
    <entity-list :data="passedData" :entities="tobaccos" :get-entities="getTobaccos" :add-entity="addTobacco" :delete-entity="deleteTobacco" :update-entity="updateTobacco" />
</template>

<script>
import { mapState, mapActions } from "vuex";
import EntityList from "../components/EntityList";

export default {
  components: {
    "entity-list": EntityList
  },
  data() {
    return {
      passedData: {
        entityName: "tobacco",
        entitiesName: "tobaccos",
        waitNames: {
          fetching: "tobaccos fetching",
          delete: "tobacco deleting",
          update: "tobacco updating",
          create: "tobacco creating"
        },
        messages: {
          create: {
            success: "Табак успешно добавлен.",
            fail: "Произошла ошибка при добавлении табака."
          },
          delete: {
            success: "Табак успешно удален.",
            fail: "Произошла ошибка при удалении табака."
          },
          update: {
            success: "Табак успешно обновлен.",
            fail: "Произошла ошибка при обновлении табака."
          }
        },
        labels: {
          entityName: "табак",
          entityNameCapitalized: "Табак",
          entitiesName: "табаки",
          entitiesNameCapitalized: "Табаки",
          entityNameInChange: "табака",
          entityNameInDelete: "табак",
          entityNameInCreate: "табак"
        }
      }
    };
  },
  methods: {
    ...mapActions([
      "getTobaccos",
      "addTobacco",
      "deleteTobacco",
      "updateTobacco"
    ])
  },
  computed: {
    ...mapState(["tobaccos"])
  }
};
</script>
