<template>
    <v-card class="own-card">
        <div v-ripple class="touchable">
            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{ title }}</h3>
                </div>
            </v-card-title>

            <v-card-media :src="picture" height="200px"></v-card-media>

            <v-card-text v-if="text && text.length > 0">{{ text }}</v-card-text>
        </div>

        <v-card-actions>
            <slot name="actions" />
            <!-- <v-spacer/>
            <v-btn v-if="text && text.length > 0" icon @click="show = !show">
                <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn> -->
        </v-card-actions>

        <v-slide-y-transition>
            <v-card-text v-show="show">
                {{ text }}
            </v-card-text>
        </v-slide-y-transition>
    </v-card>
</template>

<script>
export default {
  name: "Card",
  props: ["picture", "title", "text"],
  data() {
    return {
      show: false
    };
  }
};
</script>

<style scoped>
.own-card {
  border-radius: 3px;
}
.touchable {
    cursor: pointer;
}
</style>


