<template>
    <my-dialog :value="value" @input="changed">
        <template slot="title">
            <span class="headline">Изменение {{ entityType }} "{{ entityName }}"</span>
        </template>
        <template slot="body">
            <slot name="body" />
        </template>
        <template slot="actions">
            <v-btn color="gray darken-1" :disabled="$wait.is(waitChangeName)" @click="cancelAction" flat>Отмена</v-btn>
            <v-btn color="blue darken-1" :loading="$wait.is(waitChangeName)" @click="changeAction" flat>Изменить</v-btn>
        </template>
    </my-dialog>
</template>

<script>
import MyDialog from "./MyDialog";

export default {
  name: "ChangeDialog",
  components: {
    "my-dialog": MyDialog
  },
  props: [
    "value",
    "entityType",
    "entityName",
    "cancelAction",
    "changeAction",
    "waitChangeName"
  ],
  methods: {
    changed(event) {
      this.$emit("input", event);
    }
  }
};
</script>