<template>
    <my-dialog :value="value" @input="changed">
        <template slot="title">
            <span class="headline"><span v-if="entityType === 'новость'">Новая</span><span v-else>Новый</span> {{ entityType }}</span>
        </template>
        <template slot="body">
            <slot name="body" />
        </template>
        <template slot="actions">
            <v-btn color="gray darken-1" :disabled="$wait.is(waitCreateName)" @click="cancelAction" flat>Отмена</v-btn>
            <v-btn color="blue darken-1" :loading="$wait.is(waitCreateName)" @click="createAction" flat>Добавить</v-btn>
        </template>
    </my-dialog>
</template>

<script>
import MyDialog from "./MyDialog";

export default {
  name: "CreateDialog",
  components: {
    "my-dialog": MyDialog
  },
  props: [
    "value",
    "entityType",
    "cancelAction",
    "createAction",
    "waitCreateName"
  ],
  methods: {
    changed(event) {
      this.$emit("input", event);
    }
  }
};
</script>