<template>
    <my-dialog :value="value" @input="changed">
        <template slot="title">
            <span class="headline">Удалить {{ entityType }} "{{ entityName }}"?</span>
        </template>
        <template slot="body">
            <slot name="body">
                Удаленный элемент не может быть восстановлен
            </slot>
        </template>
        <template slot="actions">
            <v-btn color="gray darken-1" :disabled="$wait.is(waitDeleteName)" @click="cancelAction" flat>Отмена</v-btn>
            <v-btn color="red darken-1" :loading="$wait.is(waitDeleteName)" @click="deleteAction" flat>Удалить</v-btn>
        </template>
    </my-dialog>
</template>

<script>
import MyDialog from "./MyDialog";

export default {
  name: "DeleteDialog",
  components: {
    "my-dialog": MyDialog
  },
  props: [
    "value",
    "entityType",
    "entityName",
    "cancelAction",
    "deleteAction",
    "waitDeleteName"
  ],
  methods: {
    changed(event) {
      this.$emit("input", event);
    }
  }
};
</script>