<template>
  <div>
    <template v-if="$wait.is(data.waitNames.fetching)">
      <v-progress-linear :indeterminate="true"></v-progress-linear>
    </template>
    <template v-else>
      <template v-if="entities.length > 0">
        <v-container grid-list-lg fluid>
          <v-layout row wrap>
            <v-flex xs12 offset-sm2 sm8 offset-md0 md4 lg3 v-for="entity in entities" :key="entity.id">
              <card :picture="entity.pictureUrl" :title="entity.name" :text="entity.description.length > 200
              ? `${entity.description.substring(0, 200)}...`
              : entity.description">
                <template slot="actions">
                  <v-btn @click="showChangeDialog(entity)" flat color="blue darken-1">Изменить</v-btn>
                  <v-btn @click="showDeleteDialog(entity)" flat color="red darken-1">Удалить</v-btn>
                </template>
              </card>
            </v-flex>
          </v-layout>
        </v-container>
      </template>
      <template v-else>
        <jumbotron-empty-entities :entitie-name="data.labels.entitiesNameCapitalized" />
      </template>

      <create-dialog v-model="createDialog" :entity-type="data.labels.entityNameInCreate" :cancel-action="hideCreateDialog" :create-action="createEntity" :wait-create-name="data.waitNames.create">
        <template slot="body">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model.trim="newEntity.name" label="Название" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea v-model.trim="newEntity.description" label="Описание" required></v-textarea>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="newEntity.fakeFieldForAutoReset" type="file" label="Изображение" @change.native="createPictureChanged" />
              </v-flex>
            </v-layout>
          </v-container>
        </template>
      </create-dialog>

      <change-dialog v-model="changeDialog" :entity-type="data.labels.entityNameInChange" :entity-name="entityForChange.oldName" :cancel-action="hideChangeDialog" :change-action="_updateEntity" :wait-change-name="data.waitNames.update">
        <template slot="body">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model.trim="entityForChange.name" label="Название" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea v-model.trim="entityForChange.description" label="Описание" required></v-textarea>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="entityForChange.fakeFieldForAutoReset" type="file" label="Новое изображение" @change.native="changePictureChanged" />
              </v-flex>
            </v-layout>
          </v-container>
        </template>
      </change-dialog>

      <delete-dialog v-model="deleteDialog" :entity-type="data.labels.entityNameInDelete" :entity-name="entityForDelete.name" :cancel-action="hideDeleteDialog" :delete-action="_deleteEntity" :wait-delete-name="data.waitNames.delete" />

      <v-fab-transition>
        <v-btn @click="showCreateDialog" v-show="!hidden" color="red" key="add" dark fab fixed bottom right>
          <v-icon>mdi-plus</v-icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-fab-transition>
    </template>
    <notifications :group="data.entityName" />
  </div>
</template>

<script>
import Card from "../components/Card";
import MyDialog from "../components/MyDialog";
import DeleteDialog from "../components/DeleteDialog";
import ChangeDialog from "../components/ChangeDialog";
import CreateDialog from "../components/CreateDialog";
import JumbotronEmptyEntities from "../components/JumbotronEmptyEntities";
import logger from "../logger";
import notify from "../notify";

export default {
  props: [
    "data",
    "entities",
    "getEntities",
    "addEntity",
    "deleteEntity",
    "updateEntity"
  ],
  data() {
    return {
      newEntity: {
        name: "",
        description: "",
        picture: {}
      },
      entityForChange: {},
      entityForDelete: {},
      createDialog: false,
      changeDialog: false,
      deleteDialog: false,
      hidden: false
    };
  },
  components: {
    Card,
    "my-dialog": MyDialog,
    DeleteDialog,
    ChangeDialog,
    CreateDialog,
    JumbotronEmptyEntities
  },
  methods: {
    eraseNewEntity() {
      this.newEntity = {
        name: "",
        description: "",
        picture: {}
      };
    },
    showCreateDialog() {
      this.eraseNewEntity();
      this.createDialog = true;
      this.hidden = true;
    },
    hideCreateDialog() {
      this.createDialog = false;
      this.hidden = false;
    },
    showChangeDialog(entity) {
      this.entityForChange = {
        ...entity,
        oldName: entity.name,
        picture: {}
      };
      this.changeDialog = true;
      this.hidden = true;
    },
    hideChangeDialog() {
      this.changeDialog = false;
      this.hidden = false;
    },
    showDeleteDialog(entity) {
      this.entityForDelete = entity;
      this.deleteDialog = true;
      this.hidden = true;
    },
    hideDeleteDialog() {
      this.deleteDialog = false;
      this.hidden = false;
    },
    _deleteEntity() {
      this.$wait.start(this.data.waitNames.delete);
      this.deleteEntity(this.entityForDelete)
        .then(() => {
          this.hideDeleteDialog();
          this.$wait.end(this.data.waitNames.delete);
          notify.success(
            this.data.entityName,
            this.data.messages.delete.success
          );
        })
        .catch(error => {
          logger.log(error);
          notify.error(this.data.entityName, this.data.messages.delete.fail);
        });
    },
    _updateEntity() {
      this.$wait.start(this.data.waitNames.update);
      this.updateEntity(this.entityForChange)
        .then(() => {
          this.hideChangeDialog();
          this.$wait.end(this.data.waitNames.update);
          notify.success(
            this.data.entityName,
            this.data.messages.update.success
          );
        })
        .catch(error => {
          logger.log(error);
          notify.error(this.data.entityName, this.data.messages.update.fail);
        });
    },
    createPictureChanged(e) {
      this.newEntity.picture = e.target.files[0];
    },
    changePictureChanged(e) {
      this.entityForChange.picture = e.target.files[0];
    },
    createEntity() {
      this.$wait.start(this.data.waitNames.create);
      this.addEntity(this.newEntity)
        .then(() => {
          this.hideCreateDialog();
          this.$wait.end(this.data.waitNames.create);
          notify.success(
            this.data.entityName,
            this.data.messages.create.success
          );
        })
        .catch(error => {
          logger.log(error);
          notify.error(this.data.entityName, this.data.messages.create.fail);
        });
    }
  },
  mounted() {
    this.$wait.start(this.data.waitNames.fetching);
    this.getEntities().then(() => {
      this.$wait.end(this.data.waitNames.fetching);
    });
  }
};
</script>
