<template>
    <!-- eslint-disable-next-line -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve" :width="widthPx" :height="heightPx">
        <path d="M275.869,362.688H118.99v0c-16.361,16.89-31.417,39.392-31.417,65.009c0,54.348,39.24,80.744,40.911,81.842l3.749,2.462    h130.393l3.749-2.462c1.67-1.098,40.911-27.494,40.911-81.842C307.286,402.08,292.23,379.578,275.869,362.688z" fill="#FFFFFF" />
        <path d="M414.095,193.633V158.07h-30v35.563h-10.333v30h10.333v2.7c0,13.05-10.617,23.667-23.666,23.667    c-13.05,0-23.667-10.617-23.667-23.667v-81c0-23.159-18.841-42-42-42h-34.637l-35.029,48.148    c-3.875-2.596-8.132-4.663-12.668-6.098v-51.93h32.44v-30h-32.44V30h14.666V0h-59.333v30h14.667v33.453h-32.441v30h32.441v51.93    c-20.175,6.381-34.842,25.274-34.842,47.532c0,22.257,14.667,41.15,34.842,47.531v20.655    c-20.175,6.381-34.842,25.274-34.842,47.531c0,8.721,2.265,16.917,6.218,24.055h87.248c3.953-7.138,6.218-15.334,6.218-24.055    c0-22.257-14.667-41.15-34.842-47.531v-20.655c20.175-6.381,34.842-25.274,34.842-47.531c0-5.92-1.043-11.6-2.945-16.872    l31.073-42.71h19.363c6.617,0,12,5.383,12,12v81c0,29.592,24.075,53.667,53.667,53.667c29.592,0,53.666-24.075,53.666-53.667v-2.7    h10.334v-30H414.095z" fill="#FFFFFF" />
    </svg>
</template>

<script>
export default {
  props: ["width", "height", "size"],
  name: "HookahIcon",
  computed: {
    widthPx() {
      return this.size ? `${this.size}px` : `${this.width}px`;
    },
    heightPx() {
      return this.size ? `${this.size}px` : `${this.height}px`;
    },
  }
};
</script>

