<template>
    <jumbotron>
        <template slot="heading">
            {{ entitieName }} еще не добавлены.
        </template>
        <template slot="subheading">
            Для начала работы с системой, вам необходимо добавить хотябы <span v-if="entitieName === 'Новости'">одну</span><span v-else>один</span>.
        </template>
    </jumbotron>
</template>

<script>
import Jumbotron from "./Jumbotron";

export default {
  name: "JumbotronEmptyEntities",
  props: ["entitieName"],
  components: {
      Jumbotron
  }
};
</script>