<template>
    <v-jumbotron>
        <v-container fill-height>
            <v-layout align-center>
                <v-flex>
                    <div class="title mb-3">
                        <slot name="heading" />
                    </div>
                    <span class="subheading">
                        <slot name="subheading" />
                    </span>
                </v-flex>
            </v-layout>
        </v-container>
    </v-jumbotron>
</template>

<script>
export default {
    name: "Jumbotron",
}
</script>
