<template>
    <v-dialog :value="value" @input="changed" persistent max-width="500px">
        <v-card>
            <v-card-title>
                <slot name="title" />
            </v-card-title>
            <v-card-text>
                <slot name="body" />
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <slot name="actions" />
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
  name: "MyDialog",
  props: ["value"],
  methods: {
    changed(event) {
      this.$emit("input", event);
    }
  }
};
</script>

