<template>
    <v-list-tile @click="$emit('click')">
        <v-list-tile-action>
            <template v-if="icon === 'hookah'">
                <hookah-icon size="22" />
            </template>
            <template v-else-if="icon === 'tobacco'">
                <!-- <tobacco-icon size="22" /> -->
                <tobacco-leaf-icon size="22" />
            </template>
            <template v-else>
                <v-icon>{{icon}}</v-icon>
            </template>
        </v-list-tile-action>
        <v-list-tile-content>
            <v-list-tile-title>{{title}}</v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
</template>

<script>
import HookahIcon from "./HookahIcon";
import TobaccoIcon from "./TobaccoIcon";
import TobaccoLeafIcon from "./TobaccoLeafIcon";

export default {
  components: {
    HookahIcon,
    TobaccoIcon,
    TobaccoLeafIcon
  },
  name: "NavigationListElement",
  props: ["icon", "title"]
};
</script>
