<template>
    <v-navigation-drawer :value="value" @input="changed" clipped fixed app>
        <v-list dense>
            <slot/>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  name: "NavigationDrawer",
  props: ["value"],
  methods: {
    changed(event) {
      this.$emit("input", event);
    }
  }
};
</script>
