<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" :width="widthPx" :height="heightPx">
        <path d="M510.052,291.984c-0.016-0.306-0.045-0.613-0.089-0.919L484.3,112.497c-0.437-3.039-2.245-5.709-4.904-7.242    c-2.658-1.533-5.875-1.761-8.726-0.615l-118.103,47.482c-5.125,2.06-7.608,7.885-5.549,13.009    c2.061,5.126,7.887,7.609,13.01,5.549l106.284-42.731l23.681,164.776c0.013,0.464,0.059,0.93,0.138,1.396    c5.178,30.482-0.491,62.025-15.96,88.819c-17.815,30.856-46.613,52.909-81.092,62.096c-34.488,9.19-70.529,4.409-101.487-13.463    c-0.214-0.124-0.434-0.228-0.653-0.334c6.637-5.044,12.88-10.505,18.703-16.347l117.078-31.371    c5.336-1.429,8.502-6.914,7.072-12.249c-1.429-5.335-6.917-8.502-12.248-7.072l-90.086,24.138    c9.899-14.726,17.643-30.966,22.935-48.341l80.372-21.535c5.336-1.429,8.502-6.914,7.072-12.249    c-1.429-5.335-6.917-8.502-12.248-7.072l-59.138,15.846l22.238-38.519l46.995-12.592c5.336-1.429,8.502-6.914,7.072-12.249    c-1.43-5.335-6.917-8.502-12.248-7.072l-27.675,7.416l21.28-36.859c2.762-4.784,1.123-10.9-3.66-13.661    c-4.784-2.762-10.9-1.123-13.661,3.66l-21.28,36.858l-7.416-27.675c-1.43-5.335-6.915-8.502-12.248-7.072    c-5.336,1.429-8.502,6.914-7.072,12.249l12.592,46.995l-13.012,22.538c0.384-32.013-7.807-63.649-24.224-92.083    c-20.673-35.806-53.298-63.614-91.906-78.346c-0.063-0.027-0.128-0.054-0.192-0.081l-45.252-18.366    c-5.122-2.077-10.95,0.389-13.027,5.506c-2.077,5.119,0.388,10.951,5.506,13.028l44.84,18.198c0.203,0.093,0.41,0.179,0.62,0.259    c34.489,13.061,63.643,37.85,82.089,69.801c21.472,37.192,27.136,80.543,15.948,122.071    c-10.321,38.306-33.847,70.82-66.707,92.544l-16.784-29.07l36.387-135.796c1.43-5.336-1.736-10.819-7.072-12.249    c-5.339-1.429-10.818,1.737-12.248,7.072L239.125,367.97l-37.026-64.131l25.244-94.208c1.43-5.336-1.736-10.819-7.072-12.249    c-5.337-1.43-10.818,1.737-12.248,7.072l-20.066,74.888l-29.187-50.553l15.203-56.735c1.43-5.336-1.736-10.819-7.072-12.249    c-5.338-1.429-10.818,1.737-12.248,7.072l-10.027,37.415l-27.65-47.892c-2.761-4.783-8.878-6.423-13.661-3.66    c-4.784,2.761-6.423,8.878-3.66,13.661l27.65,47.891l-37.414-10.025c-5.337-1.43-10.818,1.737-12.248,7.072    c-1.43,5.336,1.736,10.819,7.072,12.249l56.734,15.203l29.187,50.553l-74.886-20.065c-5.337-1.43-10.818,1.737-12.248,7.072    c-1.43,5.336,1.736,10.819,7.072,12.249l94.206,25.243l37.026,64.131l-116.475-31.209c-5.338-1.43-10.818,1.737-12.248,7.072    c-1.43,5.336,1.736,10.819,7.072,12.249l135.795,36.386l16.782,29.067c-75.574,37.666-168.581,10.538-211.238-63.345    c-18.646-32.296-25.478-70.316-19.237-107.057c0.085-0.496,0.13-0.991,0.138-1.484L50.952,60.908l66.251,26.889    c5.123,2.078,10.95-0.388,13.027-5.506c2.077-5.119-0.388-10.951-5.506-13.028L46.632,37.567    c-2.849-1.155-6.075-0.937-8.741,0.594c-2.667,1.531-4.481,4.205-4.919,7.251L2.408,258.086c-0.049,0.337-0.079,0.675-0.093,1.01    c-6.638,40.917,1.104,83.157,21.853,119.095c33.413,57.875,94.294,90.246,156.878,90.245c27.641,0,55.609-6.339,81.693-19.56    l12.291,21.288c1.853,3.208,5.214,5.002,8.671,5.002c1.696,0,3.416-0.432,4.991-1.341c4.784-2.761,6.423-8.878,3.66-13.661    l-4.557-7.894c22.098,11.472,46.201,17.341,70.592,17.341c13.29,0,26.666-1.737,39.843-5.248    c39.65-10.566,72.773-35.932,93.264-71.423C509.083,362.476,515.655,326.672,510.052,291.984z" fill="#FFFFFF" />
        <path d="M165.258,86.561c-1.859-1.86-4.439-2.93-7.07-2.93c-2.631,0-5.211,1.07-7.071,2.93c-1.86,1.87-2.93,4.44-2.93,7.071    c0,2.64,1.069,5.211,2.93,7.081c1.86,1.861,4.44,2.93,7.071,2.93c2.63,0,5.211-1.07,7.07-2.93c1.87-1.87,2.931-4.451,2.931-7.081    C168.189,91.002,167.128,88.431,165.258,86.561z" fill="#FFFFFF" />
        <path d="M443.884,174.367l-0.06-0.082c-3.246-4.469-9.501-5.461-13.969-2.215c-4.469,3.245-5.462,9.5-2.216,13.968l0.06,0.081    c1.957,2.694,5.008,4.125,8.101,4.125c2.037,0,4.094-0.621,5.869-1.909C446.137,185.09,447.129,178.836,443.884,174.367z" fill="#FFFFFF" />
    </svg>
</template>

<script>
export default {
  props: ["width", "height", "size"],
  computed: {
    widthPx() {
      return this.size ? `${this.size}px` : `${this.width}px`;
    },
    heightPx() {
      return this.size ? `${this.size}px` : `${this.height}px`;
    }
  }
};
</script>

