<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 470 470" style="enable-background:new 0 0 470 470;" xml:space="preserve" :width="widthPx" :height="heightPx">
        <path d="M429.015,59.828h-52.299H40.985C18.386,59.828,0,78.214,0,100.814v268.373c0,22.599,18.386,40.985,40.985,40.985h335.731   h52.299c22.599,0,40.985-18.386,40.985-40.985V100.814C470,78.214,451.614,59.828,429.015,59.828z M429.015,395.172h-20.629   c4.305-5.237,7.329-11.559,8.615-18.485h36.891C450.665,387.369,440.736,395.172,429.015,395.172z M15,100.814   c0-14.328,11.657-25.985,25.985-25.985h335.731c14.328,0,25.985,11.657,25.985,25.985v268.373   c0,14.328-11.657,25.985-25.985,25.985H40.985C26.657,395.172,15,383.515,15,369.187V100.814z M453.892,93.314h-13.691   c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5H455v253.373h-37.299V100.814c0-9.855-3.498-18.908-9.315-25.985h20.629   C440.736,74.828,450.665,82.631,453.892,93.314z" fill="#FFFFFF" />
        <path d="M267.515,210.618c0.03,0.089,0.069,0.173,0.102,0.261c1.414,3.757,5.552,5.756,9.39,4.472   c7.901-2.644,16.444-4.385,25.519-5.246l-50.971,50.97c2.369-8.575,3.582-17.306,3.582-26.119c0-5.67-0.499-11.307-1.485-16.89   c-4.286-24.255-17.785-47.494-39.672-68.012c-2.886-2.705-7.374-2.705-10.259,0c-21.888,20.518-35.387,43.757-39.673,68.012   c-0.987,5.583-1.485,11.22-1.485,16.89c0,8.813,1.212,17.543,3.582,26.118l-50.97-50.97c9.075,0.861,17.618,2.602,25.518,5.246   c3.84,1.285,7.977-0.714,9.39-4.472c0.033-0.088,0.072-0.171,0.102-0.261c1.314-3.928-0.804-8.178-4.732-9.492   c-14.747-4.935-31.288-7.15-49.176-6.566c-3.952,0.127-7.126,3.302-7.254,7.254c-1.191,36.888,9.505,67.711,30.932,89.138   c20.352,20.352,49.175,31.022,83.626,31.022c1.74,0,3.501-0.031,5.27-0.086c1.77,0.055,3.528,0.086,5.27,0.086   c34.448,0,63.275-10.671,83.626-31.022c21.427-21.426,32.123-52.25,30.932-89.138c-0.127-3.952-3.302-7.126-7.254-7.254   c-17.886-0.577-34.431,1.632-49.177,6.566C268.319,202.441,266.201,206.691,267.515,210.618z M130.562,280.345   c-14.832-14.832-23.665-35.22-25.997-59.637l85.637,85.637C165.787,304.014,145.393,295.177,130.562,280.345z M216.351,174.398   c15.618,18.916,23.787,39.583,23.787,60.559c0,20.976-8.169,41.643-23.787,60.559V174.398z M201.351,295.515   c-15.618-18.915-23.788-39.583-23.788-60.559c0-20.976,8.169-41.643,23.788-60.559V295.515z M227.502,306.343l85.635-85.635   c-2.332,24.417-11.165,44.806-25.997,59.637C272.308,295.176,251.916,304.01,227.502,306.343z" fill="#FFFFFF" />
        <path d="M54.569,363.102h308.563c4.142,0,7.5-3.358,7.5-7.5V114.397c0-4.142-3.358-7.5-7.5-7.5h-30c-4.142,0-7.5,3.358-7.5,7.5   c0.001,4.143,3.358,7.5,7.5,7.5h22.5v226.205H62.069V121.897h241.063c4.142,0,7.499-3.357,7.5-7.499c0-4.143-3.358-7.501-7.5-7.501   H54.569c-4.142,0-7.5,3.358-7.5,7.5v241.205C47.069,359.744,50.427,363.102,54.569,363.102z" fill="#FFFFFF" />
    </svg>
</template>

<script>
export default {
  props: ["width", "height", "size"],
  computed: {
    widthPx() {
      return this.size ? `${this.size}px` : `${this.width}px`;
    },
    heightPx() {
      return this.size ? `${this.size}px` : `${this.height}px`;
    }
  }
};
</script>

