<template>
  <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
    <v-btn slot="activator" icon large>
      <v-avatar size="32px">
        <img :src="user.photoURL" alt="User picture">
      </v-avatar>
    </v-btn>

    <v-card>
      <v-list>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img :src="user.photoURL" alt="User picture">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{user.displayName}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn flat @click="menu = false">Закрыть</v-btn>
        <v-btn color="primary" flat @click="$emit('signOut')">Выйти</v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  props: ["user"],
  name: "ToolbarUserMenu",
  data() {
    return {
      menu: false
    };
  }
};
</script>

