<template>
    <v-toolbar app fixed clipped-left>
        <v-toolbar-side-icon v-if="authenticated" @click.stop="$emit('drawerClick')"></v-toolbar-side-icon>
        <v-btn disabled icon>
            <cloud-store-icon size="100" />
        </v-btn>
        <v-toolbar-title>CloudStore</v-toolbar-title>
        <v-spacer></v-spacer>

        <slot/>
    </v-toolbar>
</template>

<script>
import CloudStoreIcon from "./CloudStoreIcon";

export default {
  components: {
    CloudStoreIcon
  },
  name: "Toolbar",
  props: ["drawer", "authenticated"]
};
</script>

