<template>
  <v-app id="inspire" dark>
    <navigation-drawer v-model="drawer" v-if="isAuthenticated">
      <navigation-list-element @click="navigationListElementClicked('hookah')" icon="hookah" title="Кальяны" />
      <navigation-list-element @click="navigationListElementClicked('tobacco')" icon="tobacco" title="Табаки" />
      <navigation-list-element @click="navigationListElementClicked('news')" icon="mdi-newspaper" title="Новости" />
    </navigation-drawer>

    <toolbar @drawerClick="drawer = !drawer" :authenticated="isAuthenticated">
      <toolbar-user-menu @signOut="signOutClicked" v-if="isAuthenticated" :user="user" />
    </toolbar>

    <v-content>
      <v-container fluid :fill-height="fillHeight">
        <template v-if="$wait.is('user load')">
          <v-progress-linear :indeterminate="true"></v-progress-linear>
        </template>
        <template v-else>
          <router-view></router-view>
        </template>
        <notifications group="auth" />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
import types from "./store/mutation-types";
import { firebase } from "./firebase";
import ToolbarUserMenu from "./components/ToolbarUserMenu";
import NavigationDrawer from "./components/NavigationDrawer";
import NavigationListElement from "./components/NavigationListElement";
import Toolbar from "./components/Toolbar";
import logger from "./logger";
import notify from "./notify";

export default {
  components: {
    ToolbarUserMenu,
    NavigationDrawer,
    NavigationListElement,
    Toolbar
  },
  data: () => ({
    drawer: false
  }),
  beforeCreate() {
    this.$wait.start("user load");
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.setUser(user);
        this.redirectAuthenticatedUser();
      }
      this.$wait.end("user load");
    });
  },
  methods: {
    redirectAuthenticatedUser() {
      if (this.isAuthenticated) {
        const redirect = this.$route.query.redirect;
        if (redirect) {
          this.$router.push(redirect);
        } else {
          this.$router.push({ name: "hookah" });
        }
      }
    },
    navigationListElementClicked(route) {
      this.$router.push({ name: route });
    },
    ...mapMutations({
      setUser: types.SET_USER
    }),
    signOutClicked() {
      this.signOut()
        .then(() => {
          this.$router.push({ name: "login" });
        })
        .catch(error => {
          logger.log(error);
          notify.error("auth", "Произошла ошибка при выходе!");
        });
    },
    ...mapActions(["signOut"])
  },
  computed: {
    ...mapState(["user"]),
    ...mapGetters(["isAuthenticated"]),
    fillHeight() {
      return ["login"].includes(this.$route.name);
    }
  }
};
</script>
